body {
  background-color: whitesmoke;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 4.4rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
